In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget https://apache.volia.net/spark/spark-3.1.1/spark-3.1.1-bin-hadoop2.7.tgz
!tar -xvf spark-3.1.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark import SparkContext

sc = SparkContext('local')
spark = SparkSession(sc)

In [ ]:
from pyspark.sql.types import *

logData = sc.textFile("/content/FW_PG_Meteo_2018-2019.txt").cache()

header = logData.first()

logData = logData.filter(lambda x: x != header)

logData = logData.map(lambda x: x.split(", "))
df = logData.toDF(header.split(","))

df.show()

+----+-----+---+----+------+------+----------+----------+--------------+-----------+-----------------+-----------+-------------+---------+-----------------+-----------------+
|Year|Month|Day|Hour|Minute|Second|     FW_PG|Wind_Speed|Wind_Direction|Temperature|Relative_Humidity|   Pressure|Precipitation|Dew Point|Absolute_Humidity|Specific_Humidity|
+----+-----+---+----+------+------+----------+----------+--------------+-----------+-----------------+-----------+-------------+---------+-----------------+-----------------+
|2018|    1|  1|   0|     0|     0|106.772863|  0.240000|      8.930000|   2.690000|        89.670000|1011.000000|     0.000000| 1.149374|         5.223580|         0.804220|
|2018|    1|  1|   0|     1|     0|105.187933|  0.290000|      8.900000|   2.740000|        90.250000|1011.010000|     0.000000| 1.288370|         5.275076|         0.805798|
|2018|    1|  1|   0|     2|     0|119.689349|  0.100000|      8.110000|   2.600000|        90.110000|1011.000000|     0.000000| 1.128684|         5.217515|         0.803984|
|2018|    1|  1|   0|     3|     0|106.389584|  0.080000|      2.920000|   2.520000|        90.350000|1010.990000|     0.000000| 1.086740|         5.203304|         0.803505|
|2018|    1|  1|   0|     4|     0|106.443489|  0.080000|    349.300000|   2.570000|        90.750000|1010.980000|     0.000000| 1.197495|         5.243970|         0.804768|
|2018|    1|  1|   0|     5|     0|113.447731|  0.080000|    343.190000|   2.510000|        90.720000|1010.950000|     0.000000| 1.133674|         5.221094|         0.804041|
|2018|    1|  1|   0|     6|     0|107.098889|  0.080000|    343.380000|   2.510000|        90.920000|1010.920000|     0.000000| 1.164292|         5.232604|         0.804390|
|2018|    1|  1|   0|     7|     0|123.023519|  0.080000|    343.730000|   2.390000|        90.890000|1010.920000|     0.000000| 1.041234|         5.188737|         0.802983|
|2018|    1|  1|   0|     8|     0|129.590074|  0.080000|    344.540000|   2.310000|        90.960000|1010.930000|     0.000000| 0.972942|         5.164784|         0.802199|
|2018|    1|  1|   0|     9|     0|123.573033|  0.080000|    344.500000|   2.300000|        91.160000|1010.940000|     0.000000| 0.993563|         5.172648|         0.802436|
|2018|    1|  1|   0|    10|     0|122.207324|  0.080000|    344.500000|   2.250000|        91.260000|1010.960000|     0.000000| 0.959403|         5.160874|         0.802043|
|2018|    1|  1|   0|    11|     0|120.075139|  0.080000|    344.510000|   2.250000|        91.460000|1010.960000|     0.000000| 0.989795|         5.172184|         0.802393|
|2018|    1|  1|   0|    12|     0|133.212017|  0.080000|    337.660000|   2.300000|        91.700000|1010.980000|     0.000000| 1.075601|         5.203289|         0.803377|
|2018|    1|  1|   0|    13|     0|150.234839|  0.080000|    339.380000|   2.280000|        91.760000|1010.990000|     0.000000| 1.064924|         5.199670|         0.803255|
|2018|    1|  1|   0|    14|     0|133.270024|  0.080000|    338.520000|   2.310000|        91.950000|1011.000000|     0.000000| 1.123323|         5.220997|         0.803923|
|2018|    1|  1|   0|    15|     0|139.346243|  0.080000|    338.060000|   2.310000|        92.000000|1011.010000|     0.000000| 1.130880|         5.223836|         0.804009|
|2018|    1|  1|   0|    16|     0|121.012035|  0.080000|    338.080000|   2.320000|        92.180000|1011.020000|     0.000000| 1.167943|         5.237590|         0.804431|
|2018|    1|  1|   0|    17|     0|115.757116|  0.080000|    338.080000|   2.380000|        92.400000|1011.020000|     0.000000| 1.260443|         5.271384|         0.805482|
|2018|    1|  1|   0|    18|     0|113.019168|  0.080000|    338.070000|   2.440000|        92.560000|1011.030000|     0.000000| 1.343880|         5.301919|         0.806426|
|2018|    1|  1|   0|    19|     0|102.077085|  0.080000|    338.080000|   2.490000|        92.720000|1011.040000|     0.000000| 1.417410|         5.329011|         0.807254|
+----+-----+---+----+------+------+----------+----------+--------------+-----------+-----------------+-----------+-------------+---------+-----------------+-----------------+
only showing top 20 rows

# New Section

In [ ]:

for col in df.columns:
  df = df.withColumn(col, df[col].cast(DoubleType()))


def drop_nan(df):
    for col in df.columns:
        df = df.na.drop(subset=col)
    return df

df_d = drop_nan(df)

In [ ]:
from pyspark.ml import Pipeline
from pyspark.ml.regression import DecisionTreeRegressor
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.mllib.util import MLUtils


featureIndexer = VectorAssembler(inputCols=['Year','Month', 'Day', 'Hour', 'Minute', 'Wind_Speed', 'Wind_Direction', 'Temperature', 'Relative_Humidity', 'Pressure', 'Dew Point', 'Absolute_Humidity', 'Specific_Humidity'], outputCol = 'indexedFeatures')
(trainingData, testData) = df_d.randomSplit([0.7, 0.3])
dt = DecisionTreeRegressor(featuresCol="indexedFeatures", labelCol="FW_PG", maxDepth=25, minInstancesPerNode=5)
pipeline = Pipeline(stages=[featureIndexer, dt])

# Train model.  This also runs the indexer.
model = pipeline.fit(trainingData)

# Make predictions.
predictions_test = model.transform(testData)
predictions_train = model.transform(trainingData)

# Select (prediction, true label) and compute test error
evaluator_mse = RegressionEvaluator(
    labelCol="FW_PG", predictionCol="prediction", metricName="mse")
mse_test = evaluator_mse.evaluate(predictions_test)
print ("Mean Squared Error (MSE) on test data = %g" % mse_test)

mse_train = evaluator_mse.evaluate(predictions_train)
print ("Mean Squared Error (MSE) on train data = %g" % mse_train)

evaluator_r = RegressionEvaluator(
    labelCol="FW_PG", predictionCol="prediction", metricName="r2")
r_test = evaluator_r.evaluate(predictions_test)
print ("R2 on test data = %g" % r_test)

r_train = evaluator_r.evaluate(predictions_train)
print ("R2 on train data = %g" % r_train)

Mean Squared Error (MSE) on test data = 386.858
Mean Squared Error (MSE) on train data = 171.669
R2 on test data = 0.92872
R2 on train data = 0.968462